In [1]:
import pandas as pd

In [2]:
!wget https://s3.amazonaws.com/nyc-tlc/misc/taxi+_zone_lookup.csv

--2022-01-23 13:38:13--  https://s3.amazonaws.com/nyc-tlc/misc/taxi+_zone_lookup.csv
Распознаётся s3.amazonaws.com (s3.amazonaws.com)... 52.217.10.6
Подключение к s3.amazonaws.com (s3.amazonaws.com)|52.217.10.6|:443... соединение установлено.
HTTP-запрос отправлен. Ожидание ответа... 200 OK
Длина: 12322 (12K) [application/octet-stream]
Сохранение в каталог: ««taxi+_zone_lookup.csv»».

taxi+_zone_lookup.c 100%[===================>]  12,03K  --.-KB/s    за 0,001s

2022-01-23 13:38:19 (18,1 MB/s) - «taxi+_zone_lookup.csv» сохранён [12322/12322]

In [3]:
!ls

add_zones.ipynb      ny_taxi_postgres_data  upload-data.ipynb
docker-compose.yaml  pipeline.py	    yello_head.csv
Dockerfile	     README.md		    yellow_tripdata_2021-01.csv
ingest_data.py	     taxi+_zone_lookup.csv

In [4]:
df_zones = pd.read_csv('taxi+_zone_lookup.csv')

In [5]:
df_zones.head()

   LocationID        Borough                     Zone service_zone
0           1            EWR           Newark Airport          EWR
1           2         Queens              Jamaica Bay    Boro Zone
2           3          Bronx  Allerton/Pelham Gardens    Boro Zone
3           4      Manhattan            Alphabet City  Yellow Zone
4           5  Staten Island            Arden Heights    Boro Zone

In [6]:
from sqlalchemy import create_engine

In [7]:
engine = create_engine('postgresql://root:root@localhost:5432/ny_taxi')

In [8]:
df_zones.to_sql(name='zones', con=engine, if_exists='replace')